:root {
    --animation-duration: 2s;
  }

.workout-section-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .home-button {
        position: absolute;
        left: 20px;
        top:20px;
        width: 70px;
        height: 40px;
        background-color: black;
        color: white;
        border-radius: 10px;
        border: 0px;
    }

    .container {
        width: 500px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        p {
            font-size: 20px;
        }

        .leaf-container {
            perspective: 1000px;
            width: 100px;
            height: 100px;
            margin-top: 15px;
            // transition: all 0.8 ease;
            // transform-style: preserve-3d;      
        }

        .timer-bar {
            background-color:#008000;
            height: 30px;
        }
    }
}

.leafImg{
    height: 100%;
    width: 100%;
}

.leafImg.pos1 {
    transform: rotateY(0deg);
    transition: all 500ms ease;
}

.leafImg.pos2 {
    transform: rotateY(75deg);
    transition: all 500ms ease;

}

.leafImg.pos3 {
    transform: rotateY(125deg);
    transition: all 500ms ease;

}

.leafImg.pos4 {
    transform: rotateY(180deg);
    transition: all 500ms ease;

}

.leafImg.pos5 {
    transform: rotateY(235deg);
    transition: all 500ms ease;

}

.leafImg.pos6 {
    transform: rotateY(315deg);
    transition: all 1 ease;

}
