.button {
  background-color: black;
  color: #BBFFB4;

  margin-top: 150px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  width: 275px;
  height: 125px;
}

.header {
  text-align: center;
  font-size: 125px;
  margin: 100px;
}

h2 {
  text-align: center;
  font-size: 45px;
  margin-top: -90px;
}

h3 {
  text-align: center;
  font-size: 35px;
  margin-top: 150px;
}


button:hover {
  opacity: 0.5;
  cursor: url(leaf-pointer.png), default;
}

html, body {
  cursor: url(leaf.png), default;
}